<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zein.net.dynamic_dj">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="zein.net.dynamic_dj.MainMenu"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="zein.net.dynamic_dj.DynamicDjSession"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/DynamicDjSession" >

        </activity>

        <meta-data android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true"/>

        <activity
            android:name="zein.net.dynamic_dj.SettingsSession"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/SettingsSession" >
        </activity>


        <service
            android:name="zein.net.dynamic_dj.PlayAudio"
            android:exported="false"/>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
